DATABASE_URL="postgresql://vadim@localhost:5432/pet_hotel"
JWT_ACCESS_SECRET="change_me_access_secret_min_32_chars"
JWT_REFRESH_SECRET="change_me_refresh_secret_min_32_chars"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
PORT=3000
FRONTEND_URL="http://localhost:5173"
